$backgroundColour: #272727;
$primaryColour: #ffe400;
// $secondaryColour: #ff652f;
$secondaryColour: #2e9cca;

$tertiaryColour: #14a76c;

$githubBtnColour: #2f4454;
$liveBtnColour: #376e6f;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
  // background-color: red;
}

.background {
  background-color: #e5e8e8;
  // background: rgb(255,182,0);
  // background: linear-gradient(90deg, rgba(255,182,0,1) 0%, rgba(0,73,255,1) 100%);
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

nav {
  display: grid;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.nav-container {
  a {
    color: white;
    font-size: 0.9rem;
    letter-spacing: 1.3px;
    // text-transform: uppercase;

    &:hover {
      color: $primaryColour;
    }
  }

  .initials {
    // color: red;
    font-size: 1.5rem;
    font-family: "Vampiro One", cursive;
    margin-right: 0.5em;
    color: $primaryColour;
  }

  i {
    font-size: 1.5em;
    // color: #000000;
  }

  // .nav-cust-border:hover {
  //   // color: red;
  //   color: $primaryColour;
  //   // border-bottom: 2px solid #fff;
  //   // border-bottom-width: 20px;
  // }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  background-color: $backgroundColour;

  // .logo {
  //   color: #ffffff;
  //   font-weight: bold;
  // }

  ul {
    display: flex;

    a {
      display: block;
      padding: 0 1em;
    }
  }
}

// hide socials and svg hero design on mobile
.social-header,
.hero-design {
  display: none;
}

.hero {
  // height: 100%;
  background: $backgroundColour;
  color: $primaryColour;
  display: grid;
  text-align: center;
  padding: 2em 4em 4em 4em;

  h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Permanent Marker", cursive;
    // letter-spacing: 20px;
    span {
      color: $primaryColour;
    }
  }

  h2 {
    color: #ffffff;
    font-family: "Permanent Marker", cursive;
    padding: 1em 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.5rem;
    span {
      color: $primaryColour;
    }
  }
}

.name-pic {
  // width: 100px;
  h1 {
    font-size: 3rem;
    margin-bottom: 0;
    letter-spacing: 5px;
  }
  // background-color: red;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  img {
    // padding-left: 1em;
    height: 200px;
    // padding: 1em;
    // background-color: red;
  }
}

.contact-btn {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 11px;
  color: #fff;
  // text-transform: uppercase;
  // font-size: 1rem;
  // letter-spacing: .15rem;
  // transition: all .6s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $secondaryColour;
    border-radius: 11px;
    z-index: -2;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    // background-color: darken($color, 15%);
    background-color: $primaryColour;
    transition: all 0.3s;
    border-radius: 11px;
    z-index: -1;
  }
  &:hover {
    color: $backgroundColour;
    &:before {
      width: 100%;
    }
  }
}

section {
  padding: 3em 2em 3em 2em;
  text-align: center;
}

// portfolio section
.portfolio-heading-container {
  display: flex;
  justify-content: center;
  padding-top: 3em;
  .portfolio-heading {
    // font-style: italic;
    // text-shadow: 2px 3px 6px rgba(0,0,0,0.3);

    // color: $secondaryColour;
    font-family: "Permanent Marker", cursive;
    // color: red;
    font-weight: 900;
    font-size: 2.5em;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    margin: 0;

    mark {
      background-color: $secondaryColour;
      display: inline-block;
      line-height: 0em;
      padding-bottom: 0.35em;
    }
  }
}

.portfolio-container {
  // background-color: red;
  margin-bottom: 3em;
}

.inner {
  margin-bottom: 1.5em;
}

.project-title {
  letter-spacing: 0.2rem;
  color: $backgroundColour;
  font-weight: bold;
  font-size: 1.3em;
  // margin-top: -0.4em;
  margin-bottom: 0.5em;
  display: block;
  text-transform: uppercase;
  text-align: center;

  // text-shadow: 2px 3px 15px rgba(0,0,0,0.5);
}

.tech-stack {
  color: $secondaryColour;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 0.85em;
  margin-bottom: 0.5em;
  text-align: center;
  // text-shadow: 2px 3px 20px rgba(0,0,0,0.5);
}

.description {
  color: #000;
  font-size: 0.9rem;
  line-height: 1.8em;
  margin-bottom: 1em;
}

.code-site-containers {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  text-align: center;

  .github-btn {
    // box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.5);

    border: 2px solid $githubBtnColour;
    color: #ffffff;
    background-color: $githubBtnColour;
    // width: 200px;
    width: 100%;
    border-radius: 5rem;
    // background-color: $githubBtnColour;
    margin-right: 1em;
    &:hover {
      // background-color: rgb(39, 96, 240);
      color: $githubBtnColour;
      background-color: #fff;
    }
  }
  .live-btn {
    // box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.5);

    // color: #fff;
    // width:
    width: 100%;
    border-radius: 5rem;
    // background-color: $liveBtnColour;

    // background-color: #6c3da8;

    border: 2px solid $liveBtnColour;
    color: #ffffff;
    background-color: $liveBtnColour;
    &:hover {
      // background-color: #8860bd;
      color: $liveBtnColour;
      background-color: #fff;
    }
  }
}

.portfolio-container a img {
  border-radius: 1em;
  // box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.8);

  // margin-bottom: 4em;
}

.site-screenshot {
  width: 100%;
}

// skills section
.skills-heading-container {
  display: flex;
  justify-content: center;
  // background-color: $backgroundColour;
  // padding-top: 3em;
  padding-bottom: 3em;
  .skills-heading {
    // font-style: italic;

    font-family: "Permanent Marker", cursive;
    color: $primaryColour;
    font-weight: 900;

    font-size: 2.5em;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    margin: 0;

    mark {
      color: #fff;
      background-color: $tertiaryColour;
      display: inline-block;
      line-height: 0em;
      padding-bottom: 0.35em;
    }
  }
}

.skills {
  background-color: $backgroundColour;
  // height: 100vh;
  padding-top: 3em;
}

.skills-container ul li {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;

  background-color: #ffffff;
  padding: 2em;
  border-radius: 0.5em;
  margin-bottom: 1em;

  .primary-desc {
    .icon-container {
      display: grid;
      place-content: center;
      height: 50px;
      font-size: 3.5em;
      margin: 0 auto;

      &.one {
        // color: $primaryColour;
      }
      &.two {
        // color: $secondaryColour;
      }
      &.three {
        // color: $tertiaryColour;
      }
    }

    .skill-title {
      font-weight: bold;
      font-size: 1.2rem;
      padding: 0.8rem 0;
      letter-spacing: 0.1rem;
    }

    .description {
      margin-bottom: 3.5rem;
    }
  }

  .secondary-desc {
    h3 {
      color: $tertiaryColour;
      font-size: 1.2rem;
      letter-spacing: 0.1rem;
      padding-bottom: 0.8rem;
    }
    ul {
      list-style-type: disc;
      text-align: left;
      list-style-position: inside;
      // line-height: 0.8rem;
      li {
        font-size: 0.9rem;
        padding: 0 5% 15px 5%;
        // padding-top: 0;
        margin: 0;
      }
    }
  }
}

// about section
.about-heading-container {
  display: flex;
  justify-content: center;
  padding-top: 3em;
  .about-heading {
    // font-style: italic;
    // border-bottom: 1px solid $primaryColour;
    // text-shadow: 2px 3px 6px rgba(0,0,0,0.3);

    font-family: "Permanent Marker", cursive;
    font-weight: 900;
    font-size: 2.5em;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    margin: 0;

    mark {
      background-color: $primaryColour;
      display: inline-block;
      line-height: 0em;
      padding-bottom: 0.35em;
    }
  }
}

.about {
  // text-align: center;
  display: flex;
  // grid-template-columns: auto 40%;

  flex-direction: column;

  .about-left {
    // background-color: red;
    // margin-bottom: 1em;
    // width: 25vh;
    // background-color: red;
    svg {
      // height: 30vh;
      width: 100%;
      height: auto;
    }
    margin-bottom: 1em;
  }

  .about-right {
    // background-color: purple;
    // flex-grow: 3;
      .about-greeting {
        letter-spacing: 0.2rem;
        color: $backgroundColour;
        font-weight: bold;
        font-size: 1.3rem;
        // margin-top: -0.4em;
        margin-bottom: 0.5em;
        display: block;
        text-transform: uppercase;
        text-align: center;
      }

      .about-name {
        color: $secondaryColour;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.1em;
        font-size: 0.9rem;
        margin-bottom: 0.5em;
        text-align: center;
      }

      .about-description {

        font-size: 0.9em;
        text-align: center;
      }
  }


  #minute {
    animation: move-clock-hands 1s linear infinite;
    transform-origin: left;
    transform-box: fill-box;
  }

  #hour {
    animation: move-clock-hands 12s linear infinite;
    transform-origin: left;
    transform-box: fill-box;
  }

  #body,
  #head-neck {
    animation: move-body 5s infinite;
    transform-origin: 50% 100% 0;
  }

  @keyframes move-clock-hands {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(360deg);
    }
  }

  @keyframes move-body {
    0%,
    100% {
      transform: rotate(-2deg);
    }
    50% {
      transform: rotate(2deg);
    }
  }
}

// .about {
//   position: relative;
//   // margin-top: 1em;
//   // background-color: red;

//   img {
//     border-radius: 1em;
//   }
// }

// footer section
.footer {
  div {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-content: center;
    flex-direction: column;
    background-color: $backgroundColour;
  }
  height: 10vh;
  text-align: center;
  padding: 0;
  margin: 0;

  p {
    color: $primaryColour;
    a {
      color: #ffffff;
      padding: 0 5px;

      &:hover {
        color: pink;
      }
    }
  }
}

// media queries
@media only screen and (min-width: 800px) {
  .name-pic {
    img {
      padding-left: 8em;
      padding-right: 8em;
    }
  }

  // .about,
  .portfolio {
    text-align: left;
  }

  // .about,
  .portfolio-container {
    display: grid;
    grid-template-columns: 40% auto;
  }

  .left,
  .portfolio-left {
    display: grid;
    place-content: center;
    // text-transform: uppercase
  }

  .right {
    margin-left: 2em;
    margin-top: 1em;
    // mari
  }

  // overlapping effect
  .skills {
    // margin-top: -5em;
    // margin-bottom: -7em;
    // padding-top: 7em;
  }

  .skills-container ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;

    li {
      .secondary-desc {
        ul {
          display: flex;
          flex-direction: column;

          li {
            font-size: 0.9rem;
            // color: red;
            // padding: 0 !important;
            padding: 0 5%;
            // padding-top: 0;
            margin: 0;
          }
        }
      }
    }
  }

  .portfolio {
    padding-top: 4em;
  }

  .portfolio-container img {
    margin-left: 2em;
  }
}

@media only screen and (min-width: 1050px) {
  .hero {
    height: 95vh;
    // display: grid;
  }

  .name-pic {
    display: flex;
    // background: red;
    // position: relative;
    justify-content: flex-start;
    h1 {
      margin-right: 1em;
    }
    img {
      // background: pink;
      // position: absolute;
      // padding: 0;
      // top: 0;
      // left: 375px;
      padding-left: 0;
    }
  }

  .nav-container {
    display: grid;
    grid-template-columns: 66% auto;
    // unsetting here to add white portion to right side for social media links
    background: unset;

    // to achieve the split color navbar look
    header {
      // background: red;
      // background: #272727;
      background: $backgroundColour;
    }
  }

  header {
    padding: 2em 2em 2em 4em;
  }

  .social-header {
    padding: 2em 2em 2em 0em;
    // color: red;
  }

  section {
    padding: 4em;
  }

  section.skills {
    // padding: em;
    // padding: 1em 8em;
    padding-left: 12em;
    padding-right: 12em;
    // padding-bottom: 0;
  }

  .social-header {
    display: block;

    ul {
      display: flex;
      justify-content: space-between;
      width: 7em;
      float: right;

      a {
        color: #000;
      }

      a:hover {
        color: purple;
      }
    }
  }

  .hero {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
    padding: 0;

    .content {
      background: $backgroundColour;
      padding: 6em 8em 6em 4em;
      text-align: left;

      h1 {
        // font-size: 2.5em;
        // line-height: 1.2em;
        // text-transform: uppercase;
      }
      // h2 {
      //   color: #ffffff;
      // }
    }
  }

  // .avatar-pic {
  //   position: relative;

  //   img {
  //     position: absolute;
  //     // top: -50px;
  //     // left: 300px;
  //     left: 450px;
  //     // left: 100px;
  //     bottom: 10px;
  //     width: 200px;
  //     // max-width: 50%;
  //   }
  // }

  .meet {
    //   margin: unset;
    color: royalblue;
  }

  .hero-design {
    display: unset;
    margin-left: -50%;
    // margin-top: 12%;
    width: 100%;
    // max-height: 35%;
    // height: 35%;
    // margin-bottom: 0%;
  }

  .portfolio img {
    float: right;
    max-width: 500px;
  }
}

@media only screen and (min-width: 1250px) {
  header {
    padding: 2em 2em 2em 10em;
  }

  .social-header {
    padding: 2em 10em 2em 0;
  }

  section {
    padding: 4em 10em 4em 10em;
  }

  .hero .content {
    padding: 6em 8em 6em 10em;
  }
}

@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 2em 2em 20em;
  }

  .social-header {
    padding: 2em 20em 2em 0;
  }

  section {
    padding: 4em 20em 4em 20em;
  }

  .hero .content {
    padding: 9em 20em 6em 20em;
  }
}
