// colour variables
$mainColour: #141824;
$highlightColour: #ffb600;
$accentColour: #0049ff;

.background {
  background-color: #e5e8e8;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

nav {
  display: grid;
  align-items: center;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
  // font-size: 1.2em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img.site-screenshot {
  width: 100%;
  // padding-bottom: 2em;
  // margin-bottom: 9em;
}

.nav-container {
  a {
    color: white;
    font-size: 0.9rem;
    // text-transform: uppercase;

    &:hover {
      color: $highlightColour;
    }
  }

  a.pmm-logo {
    // color: red;
    font-size: 1.5rem;
    font-family: "Vampiro One", cursive;
    margin-right: 0.5em;
    color: $highlightColour;
  }

  i {
    font-size: 1.5em;
    // color: #000000;
  }

  // .nav-cust-border:hover {
  //   // color: red;
  //   color: $highlightColour;
  //   // border-bottom: 2px solid #fff;
  //   // border-bottom-width: 20px;
  // }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  background-color: $mainColour;

  // .logo {
  //   color: #ffffff;
  //   font-weight: bold;
  // }

  ul {
    display: flex;

    a {
      display: block;
      padding: 0 1em;
    }
  }
}

// hide socials and svg hero design on mobile
.social-header,
.hero-design {
  display: none;
}

.hero {
  // height: 100%;
  background: $mainColour;
  color: $highlightColour;
  display: grid;
  text-align: center;
  padding: 4em;

  h1 {
    color: $highlightColour;
    text-transform: uppercase;
  }

  h2 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
}

section {
  padding: 3em 2em 3em 2em;
  text-align: center;
}

.featured {
  position: relative;
  // margin-top: 1em;
  // background-color: red;

  img {
    border-radius: 1em;
  }
}

// .featured::before {
//   content: "";
//   position: absolute;
//   width: 200px;
//   height: 200px;
//   border-radius: 50%;
//   background: red;
//   top: 0;
//   left: 0;
//   z-index: -1;
// }

.subtitle {
  color: $highlightColour;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 0.85em;
}

.featured-title {
  letter-spacing: 0.2rem;
  color: $accentColour;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -0.4em;
  display: block;
  text-transform: uppercase;
}

.featured-desc {
  color: #000;
  font-size: 0.8em;
  line-height: 1.8em;
}

.skills {
  background-color: $mainColour;
  // height: 100vh;
  padding-top: 3em;
}

.skills-container ul li {
  background-color: #ffffff;
  padding: 2em;
  border-radius: 0.5em;
  margin-bottom: 1em;

  .icon-container {
    display: grid;
    place-content: center;
    height: 50px;
    font-size: 3.5em;
    margin: 0 auto;

    &.one {
      color: $accentColour;
    }
    &.two {
      color: $highlightColour;
    }
    &.three {
      color: $accentColour;
    }
  }

  .skill-title {
    font-weight: bold;
    font-size: 0.9em;
  }

  .featured-desc {
    margin-bottom: 2em;
  }
}

.inner {
  margin-bottom: 1.5em;
}

.portfolio-container a img {
  border-radius: 1em;
  margin-bottom: 4em;
}

.featured-heading-container {
  display: flex;
  justify-content: center;
  padding-top: 3em;
  .featured-heading {
    font-style: italic;
    // border-bottom: 1px solid $highlightColour;
    color: $mainColour;
    font-weight: 900;
    font-size: 2em;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    margin: 0;
  }
}

.skills-heading-container {
  display: flex;
  justify-content: center;
  // background-color: $mainColour;
  // padding-top: 3em;
  padding-bottom: 3em;
  .skills-heading {
    font-style: italic;

    color: $highlightColour;
    font-weight: 900;

    font-size: 2em;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    margin: 0;
  }
}

.portfolio-heading-container {
  display: flex;
  justify-content: center;
  padding-top: 3em;
  .portfolio-heading {
    font-style: italic;

    color: $mainColour;
    font-weight: 900;
    font-size: 2em;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    margin: 0;
  }
}

.footer {
  div {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-content: center;
    flex-direction: column;
    background-color: $mainColour;
  }
  height: 10vh;
  text-align: center;
  padding: 0;
  margin: 0;

  p {
    color: $highlightColour;
    a {
      color: #ffffff;
      padding: 0 5px;

      &:hover {
        color: $accentColour;
      }
    }
  }
}

.name-pic {
  // width: 100px;
  h1 {
    font-size: 3rem;
    margin-bottom: 0;
  }
  // background-color: red;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  img {
    // padding-left: 1em;
    height: 200px;
    // padding: 1em;
    // background-color: red;
  }
}

@media only screen and (min-width: 800px) {
  .name-pic {

    img {
      padding-left: 8em;
      padding-right: 8em;
    }
  }

  .featured,
  .portfolio {
    text-align: left;
  }

  .featured,
  .portfolio-container {
    display: grid;
    grid-template-columns: 40% auto;
  }

  .left,
  .portfolio-left {
    display: grid;
    place-content: center;
    // text-transform: uppercase
  }

  .right {
    margin-left: 2em;
    margin-top: 1em;
    // mari
  }

  // overlapping effect
  .skills {
    // margin-top: -5em;
    // margin-bottom: -7em;
    // padding-top: 7em;
  }

  .skills-container ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }

  .portfolio {
    padding-top: 4em;
  }

  .portfolio-container img {
    margin-left: 2em;
  }
}

@media only screen and (min-width: 1050px) {
  .hero {
    height: 95vh;
    // display: grid;
  }

  .name-pic {
    display: flex;
    // background: red;
    // position: relative;
    justify-content: flex-start;
    h1 {
      margin-right: 1em;
    }
    img {
      // background: pink;
      // position: absolute;
      // padding: 0;
      // top: 0;
      // left: 375px;
      padding-left: 0;
    }
  }

  .nav-container {
    display: grid;
    grid-template-columns: 66% auto;
    // unsetting here to add white portion to right side for social media links
    background: unset;

    // to achieve the split color navbar look
    header {
      // background: red;
      // background: #272727;
      background: $mainColour;
    }
  }

  header {
    padding: 2em 2em 2em 4em;
  }

  .social-header {
    padding: 2em 2em 2em 0em;
    // color: red;
  }

  section {
    padding: 4em;
  }

  section.skills {
    // padding: em;
    // padding: 1em 8em;
    padding-left: 12em;
    padding-right: 12em;
    // padding-bottom: 0;
  }

  .social-header {
    display: block;

    ul {
      display: flex;
      justify-content: space-between;
      width: 7em;
      float: right;

      a {
        color: #000;
      }

      a:hover {
        color: $accentColour;
      }
    }
  }

  .hero {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
    padding: 0;

    .content {
      background: $mainColour;
      padding: 6em 8em 6em 4em;
      text-align: left;

      h1 {
        // font-size: 2.5em;
        // line-height: 1.2em;
        // text-transform: uppercase;
      }
      // h2 {
      //   color: #ffffff;
      // }
    }
  }

  // .avatar-pic {
  //   position: relative;

  //   img {
  //     position: absolute;
  //     // top: -50px;
  //     // left: 300px;
  //     left: 450px;
  //     // left: 100px;
  //     bottom: 10px;
  //     width: 200px;
  //     // max-width: 50%;
  //   }
  // }



  .meet {
    //   margin: unset;
    color: royalblue;
  }

  .hero-design {
    display: unset;
    margin-left: -50%;
    // margin-top: 12%;
    width: 100%;
    // max-height: 35%;
    // height: 35%;
    // margin-bottom: 0%;
  }

  .portfolio img {
    float: right;
    max-width: 500px;
  }
}

@media only screen and (min-width: 1250px) {
  header {
    padding: 2em 2em 2em 10em;
  }

  .social-header {
    padding: 2em 10em 2em 0;
  }

  section {
    padding: 4em 10em 4em 10em;
  }

  .hero .content {
    padding: 6em 8em 6em 10em;
  }
}

@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 2em 2em 20em;
  }

  .social-header {
    padding: 2em 20em 2em 0;
  }

  section {
    padding: 4em 20em 4em 20em;
  }

  .hero .content {
    padding: 9em 20em 6em 20em;
  }
}

// .contact-btn {
//   background: $accentColour;
//   border-radius: 11px;
//   padding: 12px 30px;
//   color: #ffffff;
//   // color: $highlightColour;
//   // display: inline-block;
//   // font: normal bold 26px/1 "Open Sans", sans-serif;
//   // text-align: center;
// }

// .contact-btn:hover {
//   background: $highlightColour;
//   color: black;
// }

// $color: $accentColour;

.contact-btn {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 11px;
  color: #fff;
  // text-transform: uppercase;
  // font-size: 1rem;
  // letter-spacing: .15rem;
  // transition: all .6s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $accentColour;
    border-radius: 11px;
    z-index: -2;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    // background-color: darken($color, 15%);
    background-color: $highlightColour;
    transition: all 0.3s;
    border-radius: 11px;
    z-index: -1;
  }
  &:hover {
    color: $mainColour;
    &:before {
      width: 100%;
    }
  }
}

.code-site-containers {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  text-align: center;

  .github-btn {
    color: #000000;
    // width: 200px;
    width: 100%;
    border-radius: 0.4em;
    background-color: #db6b02;
    margin-right: 1em;
    &:hover {
      background-color: #d68940;
      color: #ffffff;
    }
  }
  .live-btn {
    color: #000000;
    // width:
    width: 100%;
    border-radius: 0.4em;
    background-color: #1d8f50;
    // background-color: #6c3da8;
    &:hover {
      // background-color: #8860bd;
      background-color: #37a066;
      color: #ffffff;
    }
  }
}

// .pmm-logo {
//   // height: 5em;
//   // width: 50%;
//   font-family: 'Vampiro One', cursive;
//   a {
//     font-size: 5rem !important;
//   }
// }

.tester2 {
  // height: 100%;
  margin-top: 0;
}
