$backgroundColour: #272727;
$primaryColour: #ffe400;
$secondaryColour: #2e9cca;
$tertiaryColour: #14a76c;
$githubBtnColour: #2f4454;
$liveBtnColour: #376e6f;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.background {
  background-image: linear-gradient(
    to right,
    #e5e8e8,
    #cdd0d0,
    #b6b8b8,
    #9fa1a1,
    #898b8b
  );
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

nav {
  display: grid;
  align-items: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.nav-container {
  a {
    color: white;
    font-size: 1rem;

    &:hover {
      color: $primaryColour;
    }
  }

  .initials {
    font-size: 1.5rem;
    font-family: "Vampiro One", cursive;
    margin-right: 0.5em;
    color: $primaryColour;
  }

  .social-header {
    a {
      font-size: 1.5rem;
    }
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  background-color: $backgroundColour;

  ul {
    display: flex;

    a {
      display: block;
      padding: 0 1em;
    }
  }
}

// hide socials and svg hero design on mobile
.social-header,
.hero-design {
  display: none;
}

.hero {
  display: grid;
  background: $backgroundColour;
  text-align: center;
  padding: 2em 4em 4em 4em;

  h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Permanent Marker", cursive;

    span {
      color: $primaryColour;
    }
  }

  h2 {
    color: #ffffff;
    font-family: "Permanent Marker", cursive;
    padding: 1em 0;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 1.5rem;

    span {
      color: $primaryColour;
    }
  }
}

.name-pic {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 3rem;
    letter-spacing: 0.1em;
  }

  img {
    display: block;
    margin: 0 auto;
    height: 200px;
  }
}

.contact-btn {
  // display: inline-block;
  // padding: 0.75em 1.25em;
  // border-radius: 0.8em;
  // color: #fff;
  // position: relative;
  // overflow: hidden;
  // z-index: 1;

  // &:after {
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: $tertiaryColour;
  //   z-index: -2;
  // }

  // &:before {
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   width: 0%;
  //   height: 100%;
  //   background-color: $primaryColour;
  //   transition: all 0.3s;
  //   z-index: -1;
  // }

  // &:hover {
  //   color: #000;

  //   &:before {
  //     width: 100%;
  //   }
  // }
  font-size: 1.1rem;
  // font-weight: bold;
    color: #000;
    width: 200px;
    display: block;
    // max-width: 200px;
    margin: 0 auto;
    padding: 1em;
    background-color: $primaryColour;
    // border: 2px solid $primaryColour;
    border-radius: 0.5em;

    &:hover {
      // color: $primaryColour;
      color: #fff;
      // background-color: #F7FF00;
      background-color: #f0e158;
      // border: 2px solid $primaryColour;
      // box-shadow: 0 0 10px rgba(255,255,255,.5); 

    }
  
}

section {
  padding: 3em 2em;
  text-align: center;
}

.projects-heading-container {
  display: flex;
  justify-content: center;
  padding-top: 3em;

  .projects-heading {
    font-family: "Permanent Marker", cursive;
    font-weight: 900;
    font-size: 2.5rem;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    // margin: 0;

    mark {
      background-color: $secondaryColour;
      display: inline-block;
      line-height: 0em;
      padding-bottom: 0.35em;
    }
  }
}

// .projects {
//   padding-bottom: 0;
// }

.project-container {
  margin-bottom: 3em;

  &:last-of-type {
    margin-bottom: 0;
  }

  .project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .project-title {
      color: $backgroundColour;
      font-size: 1.3rem;
      font-weight: bold;
      letter-spacing: 0.13em;
      margin-bottom: 0.5em;
      text-transform: uppercase;
    }

    .tech-stack {
      color: $secondaryColour;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.2em;
      font-size: 0.85rem;
      margin-bottom: 0.5em;
    }

    .description {
      color: #000;
      font-size: 0.9rem;
      line-height: 1.8em;
      margin-bottom: 1em;
      // text-align: center;
    }

    .code-site-containers {
      display: flex;
      justify-content: center;
      width: 100%;
      font-size: 1.8rem;
      // text-align: center;
      margin-bottom: 0.5em;
      gap: 0.5em;

      .github-btn {
        color: #ffffff;
        width: 100%;
        max-width: 200px;
        background-color: $githubBtnColour;
        // border: 2px solid $githubBtnColour;
        border-radius: 0.5em;
        // padding: 2px;
        // border: none;
        padding: 0;

        &:hover {
          background-color: #4b6579;;
          box-shadow: 0 0 10px rgba(33,33,33,.5); 
        }
      }
      .live-btn {
        color: #ffffff;
        width: 100%;
        max-width: 200px;
        background-color: $liveBtnColour;
        // border: 2px solid $liveBtnColour;
        border-radius: 0.5em;

        &:hover {
          background-color: #4b8283;;
          box-shadow: 0 0 10px rgba(33,33,33,.5); 
        }
      }
    }
  }
}

.project-container img {
  border-radius: 1em;

  &:hover {
    filter: brightness(125%);
  }
}

.site-screenshot {
  width: 100%;
}

.skills-heading-container {
  display: flex;
  justify-content: center;
  padding-bottom: 3em;

  .skills-heading {
    font-family: "Permanent Marker", cursive;
    // color: $primaryColour;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 0.17em;
    text-transform: uppercase;

    mark {
      color: #fff;
      background-color: $tertiaryColour;
      display: inline-block;
      line-height: 0em;
      padding-bottom: 0.35em;
    }
  }
}

.skills {
  background-color: $backgroundColour;
  // padding-top: 3em;
}

.skills-container ul li {
  // overflow: auto;
  // here
  height: auto;
}

.skills-container ul li {
  background-color: #ffffff;
  border-radius: 0.5em;
  padding: 2em;
  margin-bottom: 1em;

  .primary-desc {
    .icon-container {
      display: grid;
      place-content: center;
      height: 4em;
      font-size: 3rem;

      // &.one {
      // background-color: red;
      // background-color: red;
      // background-color: red;
      // text-align: center;
      // height: 500px;
      // margin-top: 200px;
      // margin-bottom: 200px;
      // background-color: red;

      img {
        // width: 250px;
        // height: 100%;
        // display: block;
        // margin: 0 auto;
        width: 100%;
        height: auto;
        max-height: 4em;
      }
      // }
    }

    .skill-title {
      color: $tertiaryColour;
      font-weight: bold;
      font-size: 1.2rem;
      padding: 1em 0 0.8em;
      letter-spacing: 0.1em;
    }

    .description {
      margin-bottom: 4em;
    }
  }

  .secondary-desc {
    h3 {
      color: $tertiaryColour;
      font-size: 1.2rem;
      letter-spacing: 0.1em;
      padding-bottom: 0.8em;
    }

    ul {
      list-style-type: disc;
      text-align: left;
      list-style-position: inside;

      li {
        font-size: 0.9rem;
        padding: 0 10px 10px;
        margin: 0;
      }
    }
  }
}

.about-heading-container {
  display: flex;
  justify-content: center;
  padding-top: 3em;

  .about-heading {
    font-family: "Permanent Marker", cursive;
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.17em;

    mark {
      background-color: $secondaryColour;
      display: inline-block;
      line-height: 0em;
      padding-bottom: 0.35em;
    }
  }
}

.about {
  display: flex;
  flex-direction: column;

  .about-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5em;

    .about-image-container {
      position: relative;
      max-width: 300px;
      // width: 100%;
      // height: auto;

      .about-img {
        width: 100%;
        height: auto;
        border-radius: 1em;
      }
    }

    .about-image-container::after {
      border-radius: 1em;
      content: "";
      position: absolute;
      top: 0.9em;
      left: 1.5em;
      width: 100%;
      height: 100%;
      border: 10px solid #2e9bca90;
      box-sizing: border-box;
    }
  }

  .about-right {
    display: flex;
    flex-direction: column;
    // justify-content: center;

    .about-greeting {
      font-size: 1.5rem;
      color: $backgroundColour;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.3em;
    }

    .about-name {
      font-size: 1.3rem;
      margin: 0.5em 0;
      color: $secondaryColour;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px;
    }

    .about-description {
      // font-size: 1rem;
    }
  }
}

// .footer {
//   height: 10vh;
//   padding: 0;
//   // background: yelow;

//   div {
//     display: flex;
//     height: 100%;
//     flex-direction: column;
//     justify-content: space-around;
//     background-color: $backgroundColour;

//     p {
//       font-size: 1.2rem;
//       color: $primaryColour;

//       a {
//         color: #ffffff;
//         padding: 0 10px;

//         &:hover {
//           color: $primaryColour;
//         }
//       }
//     }
//   }
// }

.footer {




  height: auto;
  background: $backgroundColour;
  padding-bottom: 0;
  padding-right: 0em;
  padding-left: 0em;

  .contact-heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3em;

    .contact-heading {
      font-family: "Permanent Marker", cursive;
      font-weight: 900;
      font-size: 2.5rem;
      letter-spacing: 0.17em;
      text-transform: uppercase;
      // margin: 0;
      // color: #fff;

      mark {
        color: #fff;
        background-color: $tertiaryColour;
        display: inline-block;
        line-height: 0em;
        padding-bottom: 0.35em;
      }
    }
  }

  input {
    // font-family: "Poppins", sans-serif;
    // font-family: "Permanent Marker", cursive;
    //testin git iggnore this line

  }
  textarea {
    // font-family: "Poppins", sans-serif;
    
    // font-family: "Permanent Marker", cursive;

  }
  form {
    // border-radius: 1em;
    // font-size: 1.5rem;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    
    label {
      font-size: 1.2rem;
      text-align: left;
      color: #fff;
    }
    
    input,
    textarea,
    button {
      font-family: "Poppins", sans-serif;
      // 
      font-size: 1rem;
      margin-bottom: 1em;
      padding: 1em;
      border-radius: 0.5em;
      border: none;

      &:focus {
        outline: none;
        border: 3px solid $tertiaryColour;
        box-shadow: 0 0 10px rgba(255,255,255,.5); 

      }
    }
    
    textarea {
      height: 150px;
      resize: none;
      // font-family: "Poppins", sans-serif;


    }

    .contact-form-btn {
      margin: 2em auto 0;
      color: #000;
      width: 50%;
      // height: 150%;
      height: 3.5em;
      // max-width: 200px;
      background-color: $tertiaryColour;
      // border: 2px solid $tertiaryColour;
      // border: none;
      border-radius: 0.5em;

      &:hover {
        // color: $tertiaryColour;
        color: #fff;
        background-color: #20d38b;
        // border: 2px solid $tertiaryColour;
        // box-shadow: 0 0 10px rgba(255,255,255,.5); 

      }
    }
  }
  .contact-socials-container {
    background-color: #1d1b1b;
    // position: absolute;
    // bottom: 0;
    // justify-self: end;
    font-size: 1.75rem;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    padding: 1em;
    // padding-bottom: 0;
    gap: 1.5em;

    i {
      color: #fff;

      &:hover {
        color: $tertiaryColour;
      }
    }
    // padding-top: 1em;
    // padding-right: 1em;
    // font-size: 1.75rem;
    // color: #fff;
  }
}

// ------------------------------------------------------------------------------------------------------
// media queries ----------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------------------

@media only screen and (min-width: 320px) and (max-width: 374px) {
  .nav-container a {
    font-size: 0.8rem;
  }

  .hero {
    padding: 0 0 2.5em 0;
  }
}

@media only screen and (min-width: 768px) {
  header {
    padding-left: 5em;
  }

  .projects {
    // padding-top: 5em;

    .project-container {
      display: grid;
      grid-template-columns: 40% auto;
      // margin-bottom: 4em;

      .description {
        text-align: left;
      }

      .project-info {
        // background-color: orangered;
      }

      .site-screenshot-url {
        // display: block;
        // text-align: left;
        // width: auto;
        // background: purple;
        align-self: center;
        margin-left: 2.5em;
        // justify-self: start;
      }
    }
  }

  // .skills-container ul {
  //   display: grid;
  //   grid-template-columns: repeat(3, 1fr);
  //   grid-gap: 1em;

  //   li {
  //     margin: 0;

  //     .secondary-desc {
  //       ul {
  //         display: flex;
  //         flex-direction: column;

  //         li {
  //           font-size: 0.9rem;
  //           padding-bottom: 0;
  //         }
  //       }
  //     }
  //   }
  // }

  .about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;

    .about-left {
      // background: red;
      width: 100%;

      display: flex;
      justify-content: flex-end;
    }

    .about-right {
      padding-top: 2em;
      // background: blue;
      width: 100%;
    }
  }

  // .footer {
  //   div {
  //     p {
  //       font-size: 1.5rem;

  //       a {
  //         padding-left: 1em;
  //       }
  //     }
  //   }
  // }
}

@media only screen and (min-width: 992px) {
  .hero {
    // display: grid;
  }

  .nav-container {
    display: grid;
    grid-template-columns: 66% auto;
  }

  header {
    padding: 2em 2em 2em 4em;
  }

  .social-header {
    // padding: 2em 0 2em 2em;
    display: unset;
    padding: 2em 2em 2em 5em;

    ul {
      display: flex;
      // justify-content: end;
      li {
        font-size: 1.5rem;
        padding-right: 2em;
      }
      // width: 8em;

      a {
        color: #000;

        &:hover {
          color: $primaryColour;
        }
      }
    }
  }

  section {
    padding: 4em 5em;
  }

  .hero {
    height: 95vh;
    // height: 95vh;

    display: grid;
    grid-template-columns: 66% auto;
    // remove background set from previous css to achieve split look
    background: unset;
    padding: 0;

    .content {
      background: $backgroundColour;
      // background: red;
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // align-items: start;
      padding: 11em 8em 4em 4em;
      // padding: 0 4em;
      // margin-bottom: 500px;
    }

    .hero-design {
      // background-color: red;
      display: block;
      margin-left: -30%;
      margin-top: 15%;
      width: 60%;
    }
  }

  .projects-heading-container {
    padding-top: 4em;
  }

  .projects {
    .project-container {
      margin-bottom: 4em;
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    img {
      max-width: 500px;
    }
  }

  .skills-heading-container {
    padding-bottom: 4em;
  }

  .skills-container ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;

    li {
      margin: 0;
      padding-bottom: 8em;

      .primary-desc {
        // background: yellow;
        // background: 50%;
        padding-bottom: 5em;
        height: 80%;
        .description {
          margin-bottom: 0;
        }
      }

      .secondary-desc {
        ul {
          display: flex;
          flex-direction: column;

          li {
            font-size: 0.9rem;
            padding-bottom: 0;
          }
        }
      }
    }
  }

  .about-heading-container {
    padding-top: 4em;
  }

  .footer {
    .contact-heading-container {
      padding-bottom: 4em;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .nav-container {
    header {
      // padding: 2em 2em 2em 10em;
      padding-left: 8em;
    }

    .social-header {
      // font-size: 5rem;
    }

    //   padding-left: 7em;
    //   li {
    //     padding-right: ;
    //   }
    // }
  }

  .hero {
    .content {
      padding-bottom: 5em;
    }
  }

  section {
    padding: 5em 6em;
  }

  .projects-heading-container {
    padding-top: 5em;
  }

  .projects .project-container {
    margin-bottom: 5em;
  }

  .skills-heading-container {
    padding-bottom: 5em;
  }

  .about-heading-container {
    padding-top: 5em;
  }

  .footer {
    .contact-heading-container {
      padding-bottom: 5em;
    }
  }
}

@media only screen and (min-width: 1400px) {
  .nav-container {
    header {
      // padding: 2em 2em 2em 10em;
      padding-left: 14.5em;
    }

    // .social-header {
    //   // padding: 2em 0 2em 6em;
    //   // padding: 2em 6em;
    //   ul {
    //     li {
    //       padding-right: 3em;
    //     }
    //   }
    // }
  }

  .hero .content {
    padding: 9em 10em;
  }

  .projects {
    .project-container {
      grid-template-columns: 40% 40%;
      justify-content: center;
      .site-screenshot-url {
        margin-left: 0;
      }
    }
  }

  .about {
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    gap: 0;

    .about-left {
      // background: red;
      width: 30%;

      // display: flex;
      // justify-content: flex-end;
    }

    .about-right {
      // background: blue;
      width: 50%;
    }
  }
}
