.background {
  background-color: #e5e8e8;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
          clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

nav {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img.site-screenshot {
  width: 100%;
}

.nav-container a {
  color: white;
  font-size: 0.9rem;
}

.nav-container a:hover {
  color: #ffb600;
}

.nav-container a.pmm-logo {
  font-size: 1.5rem;
  font-family: "Vampiro One", cursive;
  margin-right: 0.5em;
  color: #ffb600;
}

.nav-container i {
  font-size: 1.5em;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
  background-color: #141824;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul a {
  display: block;
  padding: 0 1em;
}

.social-header,
.hero-design {
  display: none;
}

.hero {
  background: #141824;
  color: #ffb600;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 4em;
}

.hero h1 {
  color: #ffb600;
  text-transform: uppercase;
}

.hero h2 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.5rem;
}

section {
  padding: 5em 2em 3em 2em;
  text-align: center;
}

.featured {
  position: relative;
}

.featured img {
  border-radius: 1em;
}

.subtitle {
  color: #ffb600;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 0.85em;
}

.featured-title {
  letter-spacing: 0.2rem;
  color: #0049ff;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -0.4em;
  display: block;
  text-transform: uppercase;
}

.featured-desc {
  color: #000;
  font-size: 0.8em;
  line-height: 1.8em;
}

.skills {
  background-color: #141824;
  padding-top: 3em;
}

.skills-container ul li {
  background-color: #ffffff;
  padding: 2em;
  border-radius: 0.5em;
  margin-bottom: 1em;
}

.skills-container ul li .icon-container {
  display: -ms-grid;
  display: grid;
  place-content: center;
  height: 50px;
  font-size: 3.5em;
  margin: 0 auto;
}

.skills-container ul li .icon-container.one {
  color: #0049ff;
}

.skills-container ul li .icon-container.two {
  color: #ffb600;
}

.skills-container ul li .icon-container.three {
  color: #0049ff;
}

.skills-container ul li .skill-title {
  font-weight: bold;
  font-size: 0.9em;
}

.skills-container ul li .featured-desc {
  margin-bottom: 2em;
}

.inner {
  margin-bottom: 1.5em;
}

.portfolio-container a img {
  border-radius: 1em;
  margin-bottom: 4em;
}

.featured-heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3em;
}

.featured-heading-container .featured-heading {
  font-style: italic;
  color: #141824;
  font-weight: 900;
  font-size: 2em;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  margin: 0;
}

.skills-heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3em;
}

.skills-heading-container .skills-heading {
  font-style: italic;
  color: #ffb600;
  font-weight: 900;
  font-size: 2em;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  margin: 0;
}

.portfolio-heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3em;
}

.portfolio-heading-container .portfolio-heading {
  font-style: italic;
  color: #141824;
  font-weight: 900;
  font-size: 2em;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  margin: 0;
}

.footer {
  height: 10vh;
  text-align: center;
  padding: 0;
  margin: 0;
}

.footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #141824;
}

.footer p {
  color: #ffb600;
}

.footer p a {
  color: #ffffff;
  padding: 0 5px;
}

.footer p a:hover {
  color: #0049ff;
}

.name-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.name-pic h1 {
  font-size: 3rem;
  margin-bottom: 0;
}

.name-pic img {
  height: 200px;
}

@media only screen and (min-width: 800px) {
  .name-pic img {
    padding-left: 8em;
    padding-right: 8em;
  }
  .featured,
  .portfolio {
    text-align: left;
  }
  .featured,
  .portfolio-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
  }
  .left,
  .portfolio-left {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .right {
    margin-left: 2em;
    margin-top: 1em;
  }
  .skills-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }
  .portfolio {
    padding-top: 4em;
  }
  .portfolio-container img {
    margin-left: 2em;
  }
}

@media only screen and (min-width: 1050px) {
  .hero {
    height: 95vh;
  }
  .name-pic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .name-pic h1 {
    margin-right: 1em;
  }
  .name-pic img {
    padding-left: 0;
  }
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
  }
  .nav-container header {
    background: #141824;
  }
  header {
    padding: 2em 2em 2em 4em;
  }
  .social-header {
    padding: 2em 2em 2em 0em;
  }
  section {
    padding: 4em;
  }
  section.skills {
    padding-left: 12em;
    padding-right: 12em;
  }
  .social-header {
    display: block;
  }
  .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 7em;
    float: right;
  }
  .social-header ul a {
    color: #000;
  }
  .social-header ul a:hover {
    color: #0049ff;
  }
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
  }
  .hero .content {
    background: #141824;
    padding: 6em 8em 6em 4em;
    text-align: left;
  }
  .meet {
    color: royalblue;
  }
  .hero-design {
    display: unset;
    margin-left: -50%;
    width: 100%;
  }
  .portfolio img {
    float: right;
    max-width: 500px;
  }
}

@media only screen and (min-width: 1250px) {
  header {
    padding: 2em 2em 2em 10em;
  }
  .social-header {
    padding: 2em 10em 2em 0;
  }
  section {
    padding: 4em 10em 4em 10em;
  }
  .hero .content {
    padding: 6em 8em 6em 10em;
  }
}

@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 2em 2em 20em;
  }
  .social-header {
    padding: 2em 20em 2em 0;
  }
  section {
    padding: 4em 20em 4em 20em;
  }
  .hero .content {
    padding: 9em 20em 6em 20em;
  }
}

.contact-btn {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 11px;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.contact-btn:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0049ff;
  border-radius: 11px;
  z-index: -2;
}

.contact-btn:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #ffb600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 11px;
  z-index: -1;
}

.contact-btn:hover {
  color: #141824;
}

.contact-btn:hover:before {
  width: 100%;
}

.code-site-containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.8rem;
  text-align: center;
}

.code-site-containers .github-btn {
  color: #000000;
  width: 100%;
  border-radius: 0.4em;
  background-color: #db6b02;
  margin-right: 1em;
}

.code-site-containers .github-btn:hover {
  background-color: #d68940;
  color: #ffffff;
}

.code-site-containers .live-btn {
  color: #000000;
  width: 100%;
  border-radius: 0.4em;
  background-color: #1d8f50;
}

.code-site-containers .live-btn:hover {
  background-color: #37a066;
  color: #ffffff;
}

.tester2 {
  margin-top: 0;
}
/*# sourceMappingURL=main.css.map */