@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.background {
  background-image: -webkit-gradient(linear, left top, right top, from(#e5e8e8), color-stop(#cdd0d0), color-stop(#b6b8b8), color-stop(#9fa1a1), to(#898b8b));
  background-image: linear-gradient(to right, #e5e8e8, #cdd0d0, #b6b8b8, #9fa1a1, #898b8b);
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
          clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

nav {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.nav-container a {
  color: white;
  font-size: 1rem;
}

.nav-container a:hover {
  color: #ffe400;
}

.nav-container .initials {
  font-size: 1.5rem;
  font-family: 'Vampiro One', cursive;
  margin-right: 0.5em;
  color: #ffe400;
}

.nav-container .social-header a {
  font-size: 1.5rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
  background-color: #272727;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul a {
  display: block;
  padding: 0 1em;
}

.social-header,
.hero-design {
  display: none;
}

.hero {
  display: -ms-grid;
  display: grid;
  background: #272727;
  text-align: center;
  padding: 2em 4em 4em 4em;
}

.hero h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Carter One', cursive;
}

.hero h1 span {
  color: #ffe400;
}

.hero h2 {
  color: #ffffff;
  font-family: 'Carter One', cursive;
  padding: 1em 0;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1.5rem;
}

.hero h2 span {
  color: #ffe400;
}

.name-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.name-pic h1 {
  font-size: 3rem;
  letter-spacing: 0.1em;
}

.name-pic img {
  display: block;
  margin: 0 auto;
  height: 200px;
}

.contact-btn {
  font-size: 1.1rem;
  color: #000;
  width: 200px;
  display: block;
  margin: 0 auto;
  padding: 1em;
  background-color: #ffe400;
  border-radius: 0.5em;
}

.contact-btn:hover {
  color: #fff;
  background-color: #f0e158;
}

section {
  padding: 3em 2em;
  text-align: center;
}

.projects-heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3em;
}

.projects-heading-container .projects-heading {
  font-family: 'Carter One', cursive;
  font-weight: 900;
  font-size: 2.5rem;
  letter-spacing: 0.17em;
  text-transform: uppercase;
}

.projects-heading-container .projects-heading mark {
  background-color: #2e9cca;
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.35em;
}

.project-container {
  margin-bottom: 3em;
}

.project-container:last-of-type {
  margin-bottom: 0;
}

.project-container .project-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-container .project-info .project-title {
  color: #272727;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.13em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.project-container .project-info .tech-stack {
  color: #2e9cca;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 0.85rem;
  margin-bottom: 0.5em;
}

.project-container .project-info .description {
  color: #000;
  font-size: 0.9rem;
  line-height: 1.8em;
  margin-bottom: 1em;
}

.project-container .project-info .code-site-containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: 1.8rem;
  margin-bottom: 0.5em;
  gap: 0.5em;
}

.project-container .project-info .code-site-containers .github-btn {
  color: #ffffff;
  width: 100%;
  max-width: 200px;
  background-color: #2f4454;
  border-radius: 0.5em;
  padding: 0;
}

.project-container .project-info .code-site-containers .github-btn:hover {
  background-color: #4b6579;
}

.project-container .project-info .code-site-containers .live-btn {
  color: #ffffff;
  width: 100%;
  max-width: 200px;
  background-color: #376e6f;
  border-radius: 0.5em;
}

.project-container .project-info .code-site-containers .live-btn:hover {
  background-color: #4b8283;
}

.project-container img {
  border-radius: 1em;
}

.project-container img:hover {
  -webkit-filter: brightness(125%);
          filter: brightness(125%);
}

.site-screenshot {
  width: 100%;
}

.skills-heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3em;
}

.skills-heading-container .skills-heading {
  font-family: 'Carter One', cursive;
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 0.17em;
  text-transform: uppercase;
}

.skills-heading-container .skills-heading mark {
  color: #fff;
  background-color: #14a76c;
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.35em;
}

.skills {
  background-color: #272727;
}

.skills-container ul li {
  height: auto;
}

.skills-container ul li {
  background-color: #ffffff;
  border-radius: 0.5em;
  padding: 2em;
  margin-bottom: 1em;
}

.skills-container ul li .primary-desc .icon-container {
  display: -ms-grid;
  display: grid;
  place-content: center;
  height: 4em;
  font-size: 3rem;
}

.skills-container ul li .primary-desc .icon-container img {
  width: 100%;
  height: auto;
  max-height: 4em;
}

.skills-container ul li .primary-desc .skill-title {
  color: #14a76c;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1em 0 0.8em;
  letter-spacing: 0.1em;
}

.skills-container ul li .primary-desc .description {
  margin-bottom: 4em;
}

.skills-container ul li .secondary-desc h3 {
  color: #14a76c;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  padding-bottom: 0.8em;
}

.skills-container ul li .secondary-desc ul {
  list-style-type: disc;
  text-align: left;
  list-style-position: inside;
}

.skills-container ul li .secondary-desc ul li {
  font-size: 0.9rem;
  padding: 0 10px 10px;
  margin: 0;
}

.about-heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3em;
}

.about-heading-container .about-heading {
  font-family: 'Carter One', cursive;
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.17em;
}

.about-heading-container .about-heading mark {
  background-color: #2e9cca;
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.35em;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .about-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5em;
}

.about .about-left .about-image-container {
  position: relative;
  max-width: 300px;
}

.about .about-left .about-image-container .about-img {
  width: 100%;
  height: auto;
  border-radius: 1em;
}

.about .about-left .about-image-container::after {
  border-radius: 1em;
  content: '';
  position: absolute;
  top: 0.9em;
  left: 1.5em;
  width: 100%;
  height: 100%;
  border: 10px solid #2e9bca90;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about .about-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .about-right .about-greeting {
  font-size: 1.5rem;
  color: #272727;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.3em;
}

.about .about-right .about-name {
  font-size: 1.3rem;
  margin: 0.5em 0;
  color: #2e9cca;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.footer {
  height: auto;
  background: #272727;
  padding-bottom: 0;
  padding-right: 0em;
  padding-left: 0em;
}

.footer .contact-heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3em;
}

.footer .contact-heading-container .contact-heading {
  font-family: 'Carter One', cursive;
  font-weight: 900;
  font-size: 2.5rem;
  letter-spacing: 0.17em;
  text-transform: uppercase;
}

.footer .contact-heading-container .contact-heading mark {
  color: #fff;
  background-color: #14a76c;
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.35em;
}

.footer form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 2em;
}

.footer form label {
  font-size: 1.2rem;
  text-align: left;
  color: #fff;
}

.footer form input,
.footer form textarea,
.footer form button {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 0.5em;
  border: none;
}

.footer form input:focus,
.footer form textarea:focus,
.footer form button:focus {
  outline: none;
  border: 3px solid #14a76c;
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.footer form textarea {
  resize: none;
}

.footer form .contact-form-btn {
  margin: 2em auto 0;
  color: #000;
  width: 50%;
  height: 3.5em;
  background-color: #14a76c;
  border-radius: 0.5em;
}

.footer form .contact-form-btn:hover {
  color: #fff;
  background-color: #20d38b;
}

.footer .contact-socials-container {
  background-color: #1d1b1b;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2em;
  padding: 1em;
  gap: 1.5em;
}

.footer .contact-socials-container span a {
  font-family: 'Vampiro One', cursive;
  color: #ffe400;
}

.footer .contact-socials-container i {
  color: #fff;
}

.footer .contact-socials-container i:hover {
  color: #ffe400;
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
  .nav-container a {
    font-size: 0.8rem;
  }
  .hero {
    padding: 0 0 2.5em 0;
  }
}

@media only screen and (min-width: 768px) {
  header {
    padding-left: 5em;
  }
  .projects .project-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
  }
  .projects .project-container .description {
    text-align: left;
  }
  .projects .project-container .site-screenshot-url {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 2.5em;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2em;
  }
  .about .about-left {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .about .about-right {
    padding-top: 2em;
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
  }
  header {
    padding: 2em 2em 2em 4em;
  }
  .social-header {
    display: unset;
    padding: 2em 2em 2em 5em;
  }
  .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .social-header ul li {
    font-size: 1.5rem;
    padding-right: 2em;
  }
  .social-header ul a {
    color: #000;
  }
  .social-header ul a:hover {
    color: #ffe400;
  }
  section {
    padding: 4em 5em;
  }
  .hero {
    height: 95vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
  }
  .hero .content {
    background: #272727;
    padding: 11em 8em 4em 4em;
  }
  .hero .hero-design {
    display: block;
    margin-left: -30%;
    margin-top: 15%;
    width: 60%;
  }
  .projects-heading-container {
    padding-top: 4em;
  }
  .projects .project-container {
    margin-bottom: 4em;
  }
  .projects .project-container:last-of-type {
    margin-bottom: 0;
  }
  .projects img {
    max-width: 500px;
  }
  .skills-heading-container {
    padding-bottom: 4em;
  }
  .skills-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
  }
  .skills-container ul li {
    margin: 0;
    padding-bottom: 8em;
  }
  .skills-container ul li .primary-desc {
    padding-bottom: 5em;
    height: 80%;
  }
  .skills-container ul li .primary-desc .description {
    margin-bottom: 0;
  }
  .skills-container ul li .secondary-desc ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skills-container ul li .secondary-desc ul li {
    font-size: 0.9rem;
    padding-bottom: 0;
  }
  .about-heading-container {
    padding-top: 4em;
  }
  .footer .contact-heading-container {
    padding-bottom: 4em;
  }
}

@media only screen and (min-width: 1200px) {
  .nav-container header {
    padding-left: 8em;
  }
  .hero .content {
    padding-bottom: 5em;
  }
  section {
    padding: 5em 6em;
  }
  .projects-heading-container {
    padding-top: 5em;
  }
  .projects .project-container {
    margin-bottom: 5em;
  }
  .skills-heading-container {
    padding-bottom: 5em;
  }
  .about-heading-container {
    padding-top: 5em;
  }
  .footer .contact-heading-container {
    padding-bottom: 5em;
  }
}

@media only screen and (min-width: 1400px) {
  .nav-container header {
    padding-left: 14.5em;
  }
  .hero .content {
    padding: 9em 10em;
  }
  .projects .project-container {
    -ms-grid-columns: 40% 40%;
        grid-template-columns: 40% 40%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects .project-container .site-screenshot-url {
    margin-left: 0;
  }
  .about {
    gap: 0;
  }
  .about .about-left {
    width: 30%;
  }
  .about .about-right {
    width: 50%;
  }
}
/*# sourceMappingURL=main.css.map */